input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-image: linear-gradient(
		.25turn, 
		#f00, 
		#ff0 16.66667%,
		#0f0 33.33333%,
		#0ff 50%,
		#00f 66.66667%,
		#f0f 83.33333%, 
		#f00
	);
	height: 0.7rem;
	border-radius: 0.35rem;
}

input[type="range"]::-moz-range-track {
	background-image: linear-gradient(
		.25turn,
		#f00,
		#ff0 16.66667%,
		#0f0 33.33333%,
		#0ff 50%,
		#00f 66.66667%,
		#f0f 83.33333%,
		#f00
	);
	height: 0.7rem;
	border-radius: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 0.1rem;
	border: 2px black solid;
	height: 1.1rem;
	width: 0.5rem;  
}

input[type="range"]::-moz-range-thumb {
    border: 2px black solid;
    border-radius: 0.1rem;
    background-color: #fff;
    height: 1.1rem;
    width: 0.5rem;
}

#backgroundpicker {
	border-radius: 5px;
}

#finalcolorcontainer {
	display: flex;
	background: #ddd;
	padding: 5px;
	border-radius: 5px;
}

#colordisplay {
	width: 80px;
	height: 130px;
	background: white;
	display: inline-block;
	border-radius: 10px;
	border: 5px solid black;
}

#colorcontainer {
	width: 280px;
	height: 130px;
}

#colorhex, #colorrgb, #colorhsv {
	margin: 0;
	margin-left: 10px;
	font-size: 16px;
}

#colorhex {
	margin-top: 10px;
}